.account-registry {
    margin: 0 auto;
}

.registry {
    background-color: #dddddd;
}

span.title {
    margin-left: 10px;
    font-weight: 500;
    font-size: 18px;
}

.registry > ul > li,.login > ul > li,.reset-email > ul > li,.reset-mobile > ul > li {
    padding: 15px 5px;
    height: 70px;
}

.registry > ul > li.button,.login > ul > li.button,.reset-email > ul > li.button,.reset-mobile > ul > li.button {
    margin: 0 15px;
}

.login {
    background-color: #dddddd;
    width: 75%;
    margin: 0 auto;
}

.login >.btnLogin {
    margin-bottom:0;
}

.login > ul > li:last-child {
    padding-top: 0;
}

.account-reset {
    width: 80%;
    margin: 0 auto;
}

.reset-email {
    border-right: solid 1px;
}
.reset-email,.reset-mobile {
    width: 90%;
    margin: 0 auto;
}
