.navbar {
    border-radius: 0;
    margin: 0;
}

input.cars-input.form-control,button.cars-button.btn.btn-default {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}