html body {
    overflow-x: hidden;
    height:100%;
    width:100%;
}

li {
    list-style-type: none
}

a:hover {
    cursor: pointer
}

p {
    margin: 0;
}

span.x-large {
    font-size:x-large;
}
